* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url(/To-Do-List/Picture/Background-My-Day.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: all 600ms ease;
}

.web-container {
  display: flex;
  min-height: 100vh;
}

/* Main Display*/
.container-list {
  display: none;
}


/* Sidebar*/
.sidebar {
  background-color: #ffffff;
  display: flex;
  box-sizing: border-box;
  width: calc(2rem + 1vw);
  transition: all 500ms ease;
  justify-content: center;
}

.sidebar.dark {
  background-color: #272727;
  color: #ffffff;
}

.sidebar.open {
  width: calc(4rem + 10vw);
}

.to-do-list-sidebar:hover {
  background-color: #cacaca;
}

.menu-container {
  margin-top: calc(0.5rem + 0.1vw);
  width: calc(2rem - 1vw);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-img {
  height: calc(0.8rem + 1vw);
  width: calc(0.8rem + 1vw);
  cursor: pointer;
}

.menu-button {
  background: transparent;
  border: none;
  margin-top: 40%;
}

.list-container {
  width: 100%;
  list-style: none;
  padding-top: calc(3rem + 1vw);
}

.to-do-list-sidebar {
  height: 5%;
  padding: 0.9rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 600ms ease;
}

.to-do-list-sidebar.open {
  justify-content: flex-start;
  padding-left: calc(0.5rem + 0.2vw);
}

.to-do-list-theme {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: calc(1rem + 1vh);
}

.appear {
  padding: 0 0 0 0.4rem;
  font-size: clamp(0.4rem, 3vw, 1rem);
  display: none;
  transition: display 400ms ease 4s;
}

.appear.non {
  display: inline-flex;
}

.theme-container {
  margin-left: calc(0.10rem + 1vw);
  width: calc(1rem + 2.5vw);
  height: calc(0.5rem + 1vw);
  background-color: rgb(222, 222, 222);
  border-radius: 15px;
  transition: all 600ms ease;
}

.theme-container.dark {
  background-color: rgb(115, 115, 115);
}

.button-change-theme {
  width: calc(1rem + 2.5vw);
  height: calc(0.5rem + 1vw);
  background-color: transparent;
  border-radius: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-color: transparent;
}

.theme-button {
  height: calc(0.2rem + 1vw);
  width: calc(0.2rem + 1vw);
  margin-left: 3px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  transition: all 600ms ease;
}

/* Need Resposive!!!!!!!!!!!!!!!*/
.theme-button.dark {
  background-color: rgb(81, 81, 81);
  transform: translateX(calc(0.8rem + 1vw));
}

.appear-theme {
  display: none;
}

.appear-theme.non {
  display: inline-flex;
}

.list-img {
  transition: all 200ms ease;
}

.sidebar.dark .list-img,
.sidebar.dark .menu-img {
  fill: #ffffff;
}

/* sidebar Content*/
.onThis {
  width: calc(1rem + 1vw);
  height: 8%;
  opacity: 0;
  position: absolute;
}

/* Need responsive !!!!!!!!!!!!*/
.onThis.open {
  width: calc(1.2rem + 12%);
}

/* List */
.list-todo {
  background-color: #ffffff;
  height: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  margin-bottom: 0.3rem;
  margin-top: 0.3rem;
  font-size: 1rem;
  font-weight: 600;
  transition: all 600ms ease;
}

.list-todo span {
  padding-left: 25px;
}

.list-todo.dark {
  background-color: rgb(39, 39, 39);
  color: #ffffff;
}

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

.input-list {
  height: 3rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  border: transparent;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1.4rem;
  opacity: 0.8;
  flex-shrink: 0;
}

.input-list.dark {
  background-color: rgb(39, 39, 39);
  color: #ffffff;
}

/* Container List */
.container-list {
  width: calc(94% - 2vw);
  display: flex;
  justify-content: flex-start;
  padding: 1.1rem 0 2.1rem 2rem;
  /* Need Responsive*/
  transition: width 600ms ease-out 100ms;
  flex-direction: column;
  height: 100vh;
  box-sizing: border-box;
  display: none;
}

.container-list.open {
  width: 82%;
}

.container-myday.on {
  display: flex;
}

.container-important.on {
  display: flex;
}

.container-planned.on {
  display: flex;
}

.container-project.on {
  display: flex;
}

.container-task.on {
  display: flex;
}

/* Submit */
.submit-list {
  transform: scale(1.3);
}

/* Header and Date */
.header-myday {
  color: #ffffff;
}

.date-info {
  margin-bottom: 1.5rem;
  color: #ffffff;
}

/* My Day */
.container-myday.on {
  display: flex;
}

.todo-list {
  list-style: none;
  flex-grow: 1;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  scrollbar-width: none;
}

.todo-list::-webkit-scrollbar {
  display: none;
}

.main-list:has(.submit-list:checked) {
  background-color: #8d8d8d;
  text-decoration: line-through;
}

.main-list:has(.submit-list:checked).dark {
  background-color: #1a1a1a;
}

/* Important*/
.container-important.on {
  display: flex;
}

.imp-list {
  list-style: none;
  flex-grow: 1;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  scrollbar-width: none;
}

.header-important {
  color: #ffffff;
}

.imp-main-list:has(.submit-list:checked) {
  background-color: #8d8d8d;
  text-decoration: line-through;
}

.imp-main-list:has(.submit-list:checked).dark {
  background-color: #1a1a1a;
}

/* Planned */
.container-planned.on {
  display: flex;
}

.header-planned {
  color: #ffffff;
}

.planned-list {
  list-style: none;
  flex-grow: 1;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  scrollbar-width: none;
}

.planned-main-list:has(.submit-list:checked) {
  background-color: #8d8d8d;
  text-decoration: line-through;
}

.planned-main-list:has(.submit-list:checked).dark {
  background-color: #1a1a1a;
}

/* Project */
.container-project.on {
  display: flex;
}

.header-project {
  color: #ffffff;
}

.project-list {
  list-style: none;
  flex-grow: 1;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  scrollbar-width: none;
}

.project-main-list:has(.submit-list:checked) {
  background-color: #8d8d8d;
  text-decoration: line-through;
}

.project-main-list:has(.submit-list:checked).dark {
  background-color: #1a1a1a;
}

/* Task */
.container-task.on {
  display: flex;
}

.header-task {
  color: #ffffff;
}

.task-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.task-main-list:has(.submit-list:checked) {
  background-color: #8d8d8d;
  text-decoration: line-through;
}

.task-main-list:has(.submit-list:checked).dark {
  background-color: #1a1a1a;
}

/* Details */
.box-details {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  width: calc(3.8rem + 1vw);
  margin-top: 1%;
  font-weight: 500;
  font-size: 70%;
  cursor: pointer;
  transition: all 600ms ease;
}

.box-details.dark {
  background-color: rgb(39, 39, 39);
  color: #ffffff;
}

.task-content-wrapper {
  flex-grow: 1;
  overflow-y: auto;
  scrollbar-width: none;
}

/* Resposive For 450px*/
@media screen and (max-width: 450px) {
  .sidebar {
    position: absolute;
    height: 100%;
  }
  .sidebar.open {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
  }
  .container-list {
    padding-left: calc(2rem + 8vw);
  }
  .container-list.open {
    width: calc(94% - 2vw);
  }
}